<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>首頁</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
</head>

<body>
    <div class="header">歡迎光臨，請輸入帳號密碼</div>
    <div class="content">
        <form action="/signin" method="POST">
            <div class="title">登入系統</div>
            <div class="login-input">帳號 <input type="text" name="userid" /></div>
            <div class="login-input">密碼 <input type="password" name="userpwd" /></div>
            <button class="btn">登入</button>
        </form>
    </div>
</body>
</html>
